@font-face {
    font-family: 'SofiaProLight';
    src: url('font/sofiapro_light_macroman/sofiapro-light-webfont.woff') format('woff'), url('font/sofiapro_light_macroman/sofiapro-light-webfont.woff2') format('woff2');
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/*body {
    color: whitesmoke;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #0F2027, #203A43, #0F2027);
    background: linear-gradient(to right, #0F2027, #203A43, #0F2027);
}*/

body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #0c0f27;
    color: whitesmoke;
    overflow: hidden;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 33s linear infinite;
}

.background li:nth-child(0) {
    left: 77%;
    width: 15px;
    height: 15px;
    bottom: -15px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 88%;
    width: 27px;
    height: 27px;
    bottom: -27px;
    animation-delay: 4s;
}

.background li:nth-child(2) {
    left: 85%;
    width: 12px;
    height: 12px;
    bottom: -12px;
    animation-delay: 5s;
}

.background li:nth-child(3) {
    left: 0%;
    width: 32px;
    height: 32px;
    bottom: -32px;
    animation-delay: 5s;
}

.background li:nth-child(4) {
    left: 53%;
    width: 29px;
    height: 29px;
    bottom: -29px;
    animation-delay: 1s;
}

.background li:nth-child(5) {
    left: 89%;
    width: 9px;
    height: 9px;
    bottom: -9px;
    animation-delay: 4s;
}

.background li:nth-child(6) {
    left: 38%;
    width: 13px;
    height: 13px;
    bottom: -13px;
    animation-delay: 20s;
}

.background li:nth-child(7) {
    left: 46%;
    width: 29px;
    height: 29px;
    bottom: -29px;
    animation-delay: 19s;
}

.background li:nth-child(8) {
    left: 60%;
    width: 10px;
    height: 10px;
    bottom: -10px;
    animation-delay: 34s;
}

.background li:nth-child(9) {
    left: 22%;
    width: 37px;
    height: 37px;
    bottom: -37px;
    animation-delay: 32s;
}

.background li:nth-child(10) {
    left: 12%;
    width: 19px;
    height: 19px;
    bottom: -19px;
    animation-delay: 31s;
}

.background li:nth-child(11) {
    left: 43%;
    width: 24px;
    height: 24px;
    bottom: -24px;
    animation-delay: 22s;
}

.background li:nth-child(12) {
    left: 43%;
    width: 36px;
    height: 36px;
    bottom: -36px;
    animation-delay: 30s;
}

.background li:nth-child(13) {
    left: 73%;
    width: 2px;
    height: 2px;
    bottom: -2px;
    animation-delay: 58s;
}

.background li:nth-child(14) {
    left: 6%;
    width: 18px;
    height: 18px;
    bottom: -18px;
    animation-delay: 64s;
}

.background li:nth-child(15) {
    left: 29%;
    width: 11px;
    height: 11px;
    bottom: -11px;
    animation-delay: 41s;
}

.background li:nth-child(16) {
    left: 26%;
    width: 5px;
    height: 5px;
    bottom: -5px;
    animation-delay: 17s;
}

.background li:nth-child(17) {
    left: 64%;
    width: 25px;
    height: 25px;
    bottom: -25px;
    animation-delay: 39s;
}

.background li:nth-child(18) {
    left: 48%;
    width: 31px;
    height: 31px;
    bottom: -31px;
    animation-delay: 67s;
}

.background li:nth-child(19) {
    left: 72%;
    width: 5px;
    height: 5px;
    bottom: -5px;
    animation-delay: 91s;
}

.background li:nth-child(20) {
    left: 5%;
    width: 11px;
    height: 11px;
    bottom: -11px;
    animation-delay: 2s;
}

.background li:nth-child(21) {
    left: 26%;
    width: 9px;
    height: 9px;
    bottom: -9px;
    animation-delay: 67s;
}

.background li:nth-child(22) {
    left: 16%;
    width: 32px;
    height: 32px;
    bottom: -32px;
    animation-delay: 44s;
}

.background li:nth-child(23) {
    left: 71%;
    width: 22px;
    height: 22px;
    bottom: -22px;
    animation-delay: 23s;
}

.background li:nth-child(24) {
    left: 70%;
    width: 20px;
    height: 20px;
    bottom: -20px;
    animation-delay: 63s;
}

.background li:nth-child(25) {
    left: 60%;
    width: 8px;
    height: 8px;
    bottom: -8px;
    animation-delay: 30s;
}

.background li:nth-child(26) {
    left: 70%;
    width: 11px;
    height: 11px;
    bottom: -11px;
    animation-delay: 128s;
}

.background li:nth-child(27) {
    left: 27%;
    width: 35px;
    height: 35px;
    bottom: -35px;
    animation-delay: 106s;
}


/*header {
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: 100%;
}
*/


/* Utilisation de la police */

h1 {
    font-family: 'SofiaProLight', Arial, serif;
    font-weight: bolder;
    text-align: center;
    border: 3px whitesmoke solid;
    border-radius: 10px;
    /*box-shadow: 5px 5px 5px 6px black;*/
    box-shadow: 0.6px 0.6px 2px rgba(0, 0, 0, 0.016), 1.3px 1.4px 4.4px rgba(0, 0, 0, 0.023), 2.1px 2.5px 7.5px rgba(0, 0, 0, 0.028), 3.3px 3.8px 11.6px rgba(0, 0, 0, 0.033), 4.9px 5.6px 17.2px rgba(0, 0, 0, 0.037), 7.1px 8.3px 25.2px rgba(0, 0, 0, 0.042), 10.7px 12.4px 37.8px rgba(0, 0, 0, 0.047), 17.1px 19.7px 60.3px rgba(0, 0, 0, 0.054), 32px 37px 113px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0.6px 0.6px 2px rgba(0, 0, 0, 0.016), 1.3px 1.4px 4.4px rgba(0, 0, 0, 0.023), 2.1px 2.5px 7.5px rgba(0, 0, 0, 0.028), 3.3px 3.8px 11.6px rgba(0, 0, 0, 0.033), 4.9px 5.6px 17.2px rgba(0, 0, 0, 0.037), 7.1px 8.3px 25.2px rgba(0, 0, 0, 0.042), 10.7px 12.4px 37.8px rgba(0, 0, 0, 0.047), 17.1px 19.7px 60.3px rgba(0, 0, 0, 0.054), 32px 37px 113px rgba(0, 0, 0, 0.07);
    padding: 5px;
    margin: 50px;
    display: inline-block;
    width: 15%;
    height: 5%;
    position: absolute;
    bottom: 60%;
    right: 40%;
}


/* Navigation */


/*nav {
    display: inline-block;
    position: absolute;
    bottom: -50%;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'SofiaProLight', Arial, serif;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

nav a {
    font-size: 3em;
    color: whitesmoke;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.2);
}

p {
    color: whitesmoke;
}
*/

div.container {
    font-family: 'SofiaProLight';
    margin: 0 auto;
    padding: 10em 3em;
    text-align: center;
    position: absolute;
    bottom: -70%;
    width: 100%;
    height: 100%;
    left: -3%;
}

div.container a {
    color: #FFF;
    text-decoration: none;
    font: 50px 'SofiaProLight';
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}


/* Top and Bottom borders come in */

div.topBotomBordersIn a:before,
div.topBotomBordersIn a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before {
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after {
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before,
div.topBotomBordersIn a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}


/* Top border go down and Left border appears */

div.topLeftBorders a:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before {
    height: 100%;
}

div.topLeftBorders a:hover:after {
    opacity: 0;
    top: 100%;
}


/* Circle behind */

div.circleBehind a:before,
div.circleBehind a:after {
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.circleBehind a:after {
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind a:hover:before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}


/* Brackets go out */

div.brackets a:before,
div.brackets a:after {
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 0px;
    transition: all 0.3s;
}

div.brackets a:before {
    content: '(';
    left: 0px;
    transform: translateX(10px);
}

div.brackets a:after {
    content: ')';
    right: 0px;
    transform: translateX(-10px);
}

div.brackets a:hover:before,
div.brackets a:hover:after {
    opacity: 1;
    transform: translateX(0px);
}


/* Border from Y to X  */

div.borderYtoX a:before,
div.borderYtoX a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before {
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after {
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before,
div.borderYtoX a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}


/* Border X get width  */

div.borderXwidth a:before,
div.borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before {
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after {
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before,
div.borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
}


/* Pull down  */

div.pullDown a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before {
    height: 100%;
}


/* Pull up  */

div.pullUp a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUp a:hover:before {
    height: 100%;
}


/* Pull right  */

div.pullRight a:before {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRight a:hover:before {
    width: 100%;
}


/* Pull left  */

div.pullLeft a:before {
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullLeft a:hover:before {
    width: 100%;
}


/* Pull up and down  */

div.pullUpDown a:before,
div.pullUpDown a:after {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUpDown a:before {
    top: 0px;
}

div.pullUpDown a:after {
    bottom: 0px;
}

div.pullUpDown a:hover:before,
div.pullUpDown a:hover:after {
    height: 100%;
}


/* Pull right and left  */

div.pullRightLeft a:before,
div.pullRightLeft a:after {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRightLeft a:before {
    left: 0px;
}

div.pullRightLeft a:after {
    right: 0px;
}

div.pullRightLeft a:hover:before,
div.pullRightLeft a:hover:after {
    width: 100%;
}


/* Highlight text out  */

div.highlightTextOut a {
    color: rgba(255, 255, 255, 0.3);
}

div.highlightTextOut a:before,
div.highlightTextIn a:before {
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
}

div.highlightTextOut a:hover:before,
div.highlightTextIn a:hover:before {
    transform: scale(1);
    opacity: 1;
}


/* Highlight text in  */

div.highlightTextIn a {
    color: rgba(0, 0, 0, 0.4);
}

div.highlightTextIn a:before {
    transform: scale(1.2);
}

section.cv {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
}

div.cvpdf {
    position: absolute;
    top: 8%;
    left: 26%;
    text-align: center;
}

.text-box {
    margin-left: 2%;
    margin-top: 2%;
    font-family: 'SofiaProLight', Arial, serif;
    font-weight: bolder;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: whitesmoke;
    color: black;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: whitesmoke;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

footer {
    position: absolute;
    bottom: -1%;
    right: 1%;
    font-family: 'SofiaProLight', Arial, serif;
}